{
  "name": "",
  "description": "",
  "spec": [
    {
      "type": "multiselect",
      "question_name": "Target Hosts",
      "question_description": "Select all the hosts that you would like the job applied to?",
      "variable": "target_hosts",
      "choices": [ "all",
{% for host in item['hosts'] %}
{% if loop.last %}
        "{{ host }}"
{% else %}
        "{{ host }}",
{% endif %}
{% endfor %}
      ],
      "required": false,
      "default": "all"
    }
  ]
}