{
  "name": "Host List",
  "description": "Choose which hosts you would like to target",
  "spec": [
    {
      "type": "multiplechoice",
      "question_name": "Target Hosts",
      "question_description": "Select all the hosts that you would like the job applied to?",
      "variable": "target_hosts",
      "choices": [
{% for host in inventory_list %}
{% if loop.last %}
        "{{file.path.split('/')[-1]}}"
{% else %}
        "{{file.path.split('/')[-1]}}",
{% endif %}
{% endfor %}
      ],
      "required": true,
      "default": "{{backups.files[0].path.split('/')[-1]}}"
    }
  ]
}